@media (min-width: 992px) and (max-width: 1199px) {
    .header-hero-content{
        margin-top: 43%;
    }
    .iconos-container{
        width: 100%;
    }
    .pt-110{
        padding-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .iconos-container{
        width: 100%;
    }
    .header-image{
        padding-top: 55px;
    }
    .header-hero-content{
        margin-top: 43%;
    }
    .home-responsive{
        margin-bottom: 200px;
    }
    .pt-110{
        padding-top: 180px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header-image{
        padding-top: 55px;
    }
    .iconos-container{
        width: 100%;
    }
    .title{
        font-size: 12px;
    }
    lord-icon{
        width:100px;
        height:100px
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    
}

@media (min-width: 576px) and (max-width: 767px) {
    
}