@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
   
}

@media (min-width: 320px) and (max-width: 767px) {
    .header-image{
        padding-top: 55px;
    }
    .iconos-container{
        width: 100%;
    }
    .title{
        font-size: 12px;
    }
    lord-icon{
        width:100px;
        height:100px
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    
}

@media (min-width: 576px) and (max-width: 767px) {
    
}